<form class='hidden answerbox' action='/questions/<%= @question.id %>/answers' method='post'>
  <textarea name='content' placeholder='Enter Answer' required></textarea>
  <input type='submit' value='post answer'>
</form>
