<form class='hidden' action='/questions/<%= @question.id %>/answers' method='post'>
  <textarea name='content' placeholder='Enter Answer'></textarea>
  <input type='submit' value='post answer'>
</form>
